@using ToDoDDD.Web.ViewModels
@model IndexViewModels

@{
    ViewData["Title"] = "Добавить задачу";
}
<h2>Добавить задaчу</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Issues">
            <label asp-for="@Model.Issue.Name" class="form-label">Название задачи</label>
            <input asp-for="@Model.Issue.Name" class="form-control"></input>
            <span asp-validation-for="@Model.Issue.Name" class="form-text text-danger"></span>
            
        <div class="row">
                <label asp-for="@Model.Priority.Id" class="form-label">Приоритет</label>
             <div class="col-md-4 mb-3">
                    <select asp-for="@Model.Priority.Id" asp-items="ViewBag.Priorities">
                        <option selected="selected" unabled="unabled">Выберите приоритет</option>
                 </select>
                    <span asp-validation-for="@Model.Priority.Id" class="form-text text-danger"></span>
                </div>           
        </div>
            
            <label asp-for="@Model.Issue.Description" class="form-label">Описание задачи</label>
            <textarea class="form-control" asp-for="@Model.Issue.Description"></textarea>
            <span asp-validation-for="@Model.Issue.Description" class="form-text text-danger"></span>
            <button type="submit" class="btn btn-success">Добавить задачу</button>
        </form>
    </div>
</div>


    